.Login {
  min-height: 100vh;
  background: var(--primary-gradient);
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    width: 350px;
    margin: 10px 0;
    box-shadow: 5px 20px 50px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--primary-dark);

    .logo-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      img {
        width: 70px;
        height: 70px;
      }
    }

    .form-section {
      background: var(--primary-color);
      margin-top: 20px;
      padding: 25px;
      border-radius: 60% / 25%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      h2 {
        color: var(--title-color);
        font-weight: 600;
        margin-bottom: 10px;
        font-family: var(--primary-font);
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 36px;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-bottom: 20px;

        button {
          height: 45px;
          background: var(--primary-dark);
          border: 1.5px solid var(--primary-dark);
          margin-top: 10px;
          border-radius: 5px;
          padding: 10px 20px;
          color: var(--primary-color);
          font-weight: 600;
          font-family: var(--primary-font);
          font-size: 16px;
          letter-spacing: 1.3px;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            background: transparent;
            color: var(--primary-dark);
          }

          .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .spinner {
              width: 20px;
              height: 20px;
              border: 3px solid var(--primary-dark);
              border-top: 3px solid var(--accent-color);
              border-radius: 50%;
              animation: spin 0.8s linear infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
