@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --primary-color: #fcfcfc;
  --primary-dark: #171242;
  --primary-gradient: linear-gradient(to bottom, #0f0d27, #1b1747, #2c2474);
  --title-color: #573b8a;
  --primary-font: "Zilla Slab", serif;

--secondary-color: #6A5ACD;
--accent-color: #FFB6C1;

}
